{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- 
      Created by: Jaime Estrada
      Modified by: María Martínez
      Date of creation: 05/06/2025
      Date of modification: 30/06/2025
      Description: Register a new common area
    -->
    <meta charset="UTF-8">
    <title>Lista Vales</title>
    <!-- Bootstrap base styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Google Font Rubik -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <!-- Customised CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    {% include 'navbar.html' %}
        <div class="container-fluid mt-4">
<h2>Lista Vales Caja Chica</h2>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
<div class="table-responsive rounded-3 border">        
    <table class="table align-middle mb-0 shadow-sm">
    <thead>        
  <tr>
    <th>Fondo</th>
    <th>Tipo de Gasto</th>
    <th>Descripción</th>
    <th>Importe</th>
    <th>Fecha</th>
    <th>Acciones</th>
  </tr>
    </thead>
    <tbody>
  {% for vale in vales %}
  <tr>
    <td>{{ vale.fondeo.numero_cheque }}</td>
    <td>{{ vale.tipo_gasto }}</td>
    <td>{{ vale.descripcion }}</td>
    <td>${{ vale.importe|floatformat:2|intcomma }}</td>
    <td>{{ vale.fecha|date:"d/b/y"|upper }}</td>
    <td>
      <a href="{% url 'imprimir_vale_caja' vale.id %}" class="btn btn-outline-primary btn-sm" target="_blank">
        <i class="bi bi-printer" title="Imprimir Vale"></i>
      </a>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="4">No hay vales registrados.</td>
  </tr>
  {% endfor %}
    </tbody>
</table>
            </div>
        </div>
    </div>  
  <!-- 🔹 Footer -->
  <footer>
        © {% now "Y" %} GAC. Todos los derechos reservados. <br>
        Creado por Jaime M. Estrada Bernabé
    </footer>

    <!-- Scripts -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>    
</body>
</html>
