{% load static %}
{% load archivo_existe %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- 
      Created by: Jaime Estrada
      Modified by: María Martínez
      Date of creation: 05/06/2025
      Date of modification: 22/07/2025
      Description: Generated invoices
    -->
    <meta charset="UTF-8">
    <title>Facturas ingresos</title>
    <!-- Bootstrap base styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Google Font Rubik -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <!-- Customised CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <!-- Block for displaying messages -->
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <!-- Block for displaying messages -->
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                    </div>
                {% endif %}
                
    <!-- Main content -->
    <div class="container-fluid mt-4">

        <h2>Cuotas condominales</h2> 
        <form method="get" class="row g-2 mb-3">
            {% if request.user.is_superuser %}
            <div class="col-auto">
                <select name="empresa" id="empresa" class="form-select">
                    <option value="">Todas las empresas</option>
                    {% for empresa in empresas %}
                        <option value="{{ empresa.id }}" {% if empresa.id == empresa_seleccionada %}selected{% endif %}>
                            {{ empresa.nombre }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <div class="col-auto">
                <select name="local_id" id="local_id" class="form-select">
                    <option value="">Todos los locales</option>
                    {% for local in locales %}
                        <option value="{{ local.id }}" {% if local.id|stringformat:"s" == local_id %}selected{% endif %}>
                            {{ local }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto">
                <select name="area_id" id="area_id" class="form-select">
                    <option value="">Todas las áreas</option>
                    {% for area in areas %}
                        <option value="{{ area.id }}" {% if area.id|stringformat:"s" == area_id %}selected{% endif %}>
                            {{ area }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-auto mb-3">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="bi bi-funnel"></i> 
                        Filtrar
                </button>
                <a href="{% url 'lista_facturas' %}" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-clockwise"></i> 
                        Limpiar
                </a>
            </div>
            <div class="row">
                <div class="col-auto">
                    <a href="{% url 'crear_factura' %}" class="btn btn-crear">
                        <i class="bi bi-plus-circle me-1"></i> Nueva Cuota
                    </a>
                    <!--   <a href="{% url 'facturar_mes' %}" class="btn btn-warning mb-3">Generar facturación mensual</a>  -->
                    <a href="{% url 'exportar_lista_facturas_excel' %}?{% if request.GET %}{{ request.GET.urlencode }}{% endif %}" class="btn btn-outline-success">
                        <i class="bi bi-file-earmark-excel-fill"></i>
                        Exportar a Excel
                    </a>
                </div>    
            </div>
        </form>
        
        <!-- Invoices table -->
        <div class="table-responsive rounded-3 border">
            <table class="table align-middle mb-0 shadow-sm">
                <thead>
                    <tr>
                        <th>Folio</th>
                        {% if request.user.is_superuser %}
                            <th>Empresa</th>
                        {% endif %}
                        <th>Cliente</th>
                        <th>Local/Área</th>
                        <th>Monto</th>
                        <th>Saldo</th>
                        <th>Tipo Cuota</th>
                        <th>Periodo</th>
                    <!--  <th>Fecha emisión</th>  -->
                        <th>Concepto</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                        <th>CFDI</th>
                        <th>Historial</th>
                    </tr>
                </thead>
                <tbody>
                    {% for factura in facturas %}
                        <tr>
                            <td>{{ factura.folio }}</td>
                            {% if request.user.is_superuser %}
                                <td>{{ factura.empresa.nombre }}</td>
                            {% endif %}
                            <td>{{ factura.cliente.nombre }}</td>
                            <td>
                                {% if factura.local %}
                                    {{ factura.local.numero }}
                                {% elif factura.area_comun %}
                                    {{ factura.area_comun.numero }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>${{ factura.monto|floatformat:2|intcomma }}</td>
                            <td>${{ factura.saldo_pendiente|floatformat:2|intcomma}}</td>
                            <td>{{ factura.tipo_cuota}}</td>
                            <td>{{ factura.fecha_vencimiento|date:"b/y"|upper}}</td>
                        <!--  <td>{{ factura.fecha_emision }}</td>  -->
                            
                            <td>{{factura.observaciones}}</td>
                            <td>{{ factura.get_estatus_display }}</td>    
                            <td class="text-nowrap">
                                    {% if factura.saldo_pendiente > 0 %}    
                                    <a href="{% url 'registrar_pago' factura.id %}" class="btn btn-sm btn-outline-success" title="Cobrar">
                                        <i class="bi bi-cash-coin me-1"></i> 
                                    </a>
                                    <a href="{% url 'editar_factura' factura.id %}" class="btn btn-sm btn-outline-primary" title="Editar">
                                        <i class="bi bi-pencil-square me-1"></i> 
                                    </a>
                                {% else %}
                                    <span class="text-muted"></span>
                                {% endif %}
                            </td>
                            <td>
                                {% if factura.cfdi and factura.cfdi|archivo_existe %}
                                    <a href="{{ factura.cfdi.url }}" target="_blank" class="btn btn-sm btn-outline-dark" title="CFDI">
                                        <i class="bi bi-file-earmark-pdf me-1"></i>
                                    </a>
                                {% elif factura.cfdi %}
                                    
                                {% endif %}
                            </td>
                                <td>
                                    <a href="{% url 'facturas_detalle' factura.id %}" class="btn btn-sm btn-outline-info" title="Ver">
                                        <i class="bi bi-eye me-1"></i> 
                                    </a>
                                </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="10">No hay facturas registradas.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="Paginación">
            <ul class="pagination">
            {% if facturas.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ facturas.previous_page_number }}{% if empresa_seleccionada %}&empresa={{ empresa_seleccionada }}{% endif %}{% if local_id %}&local_id={{ local_id }}{% endif %}{% if area_id %}&area_id={{ area_id }}{% endif %}">Anterior</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Anterior</span></li>
            {% endif %}
            <li class="page-item disabled"><span class="page-link">Página {{ facturas.number }} de {{ facturas.paginator.num_pages }}</span></li>
            {% if facturas.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ facturas.next_page_number }}{% if empresa_seleccionada %}&empresa={{ empresa_seleccionada }}{% endif %}{% if local_id %}&local_id={{ local_id }}{% endif %}{% if area_id %}&area_id={{ area_id }}{% endif %}">Siguiente</a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
            {% endif %}
            </ul>
        </nav>
    </div>

    <!-- 🔹 Footer -->
    <footer>
        © {% now "Y" %} GAC. Todos los derechos reservados. <br>
        Creado por Jaime M. Estrada Bernabé
    </footer>

    <!-- Scripts -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
