{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- 
        Created by: Jaime Estrada
        Modified by: María Martínez
        Date of creation: 05/06/2025
        Date of modification: 25/07/2025
        Description: Accounts payable dashboard
    -->
    <meta charset="UTF-8">
    <title>Dashboard egresos</title>
    <!-- Bootstrap base styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Google Font Rubik -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <!-- Customised CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
<div class="container-fluid mt-4">
    <h2>Dashboard gastos</h2>
    <form method="get" class="row g-2 mb-4">
        {% if empresas|length > 1 %}
        <div class="col-md-2">
            <select name="empresa" class="form-select">
                <option value="">Empresas</option>
                {% for emp in empresas %}
                    <option value="{{ emp.id }}" {% if emp.id|stringformat:"s" == empresa_id|stringformat:"s" %}selected{% endif %}>{{ emp.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        
        <div class="col-md-2 align-self-end">
            <select name="grupo" class="form-select">
                <option value="">Grupos</option>
                {% for g in grupos %}
                    <option value="{{ g.id }}" {% if g.id|stringformat:"s" == grupo_id|stringformat:"s" %}selected{% endif %}>{{ g.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2 align-self-end">
            <select name="subgrupo" class="form-select">
                <option value="">Subgrupos</option>
                {% for sg in subgrupos %}
                    <option value="{{ sg.id }}" {% if sg.id|stringformat:"s" == subgrupo_id|stringformat:"s" %}selected{% endif %}>{{ sg.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2 align-self-end">
            <select name="tipo_gasto" class="form-select">
                <option value="">Tipo de Gastos</option>
                {% for tg in tipos_gasto %}
                    <option value="{{ tg.id }}" {% if tg.id|stringformat:"s" == tipo_gasto_id|stringformat:"s" %}selected{% endif %}>{{ tg.nombre }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <label>Año:</label>
            <input type="number" name="anio" min="2020" value="{{ anio }}" class="form-control">
        </div>
        <div class="col-md-2">
            <label>Mes:</label>
            <select name="mes" class="form-select">
            <option value="">Todos</option>
            <option value="1" {% if mes == "1" %}selected{% endif %}>Enero</option>
            <option value="2" {% if mes == "2" %}selected{% endif %}>Febrero</option>
            <option value="3" {% if mes == "3" %}selected{% endif %}>Marzo</option>
            <option value="4" {% if mes == "4" %}selected{% endif %}>Abril</option>
            <option value="5" {% if mes == "5" %}selected{% endif %}>Mayo</option>
            <option value="6" {% if mes == "6" %}selected{% endif %}>Junio</option>
            <option value="7" {% if mes == "7" %}selected{% endif %}>Julio</option>
            <option value="8" {% if mes == "8" %}selected{% endif %}>Agosto</option>
            <option value="9" {% if mes == "9" %}selected{% endif %}>Septiembre</option>
            <option value="10" {% if mes == "10" %}selected{% endif %}>Octubre</option>
            <option value="11" {% if mes == "11" %}selected{% endif %}>Noviembre</option>
            <option value="12" {% if mes == "12" %}selected{% endif %}>Diciembre</option>
            </select>
        </div>
        <div class="col-md-2 align-self-end">
            <button type="submit" class="btn btn-outline-primary">
                <i class="bi bi-funnel-fill"></i> Filtrar
            </button>
            <a href="{% url 'dashboard_pagos_gastos' %}" class="btn btn-outline-secondary">
                <i class="bi bi-arrow-clockwise"></i> Limpiar
            </a>
        </div>
    </form>
    <div class="card mb-4 p-3 shadow-sm">

        <canvas id="graficoPagos" style="height: 450px"></canvas>
    </div>
    <script>
    const ctx = document.getElementById('graficoPagos').getContext('2d');
    new Chart(ctx, {
        data: {
            labels: {{ meses|safe }},
            datasets: [
                {
                    type: 'bar',
                    label: 'Pagos realizados',
                    data: {{ pagos_mensuales|safe }},
                    backgroundColor: '#20c997',
                    order:2
                
                },
                {
                    type: 'line',
                    label: 'Pagos pendientes',
                    data: {{ saldos_mes|safe }},
                    borderColor: '#ff5733',
                    backgroundColor: 'rgba(255,87,51,0.2)',
                    borderWidth: 3,
                    fill: false,
                    tension: 0.2,
                    pointRadius: 3,
                    order:1
                },
                {
                    type: 'line',
                    label: 'Presupuesto',
                    data: {{ presupuesto_mes|safe }},
                    borderColor: '#ffc107',
                    backgroundColor: 'rgba(255,193,7,0.2)',
                    borderWidth: 3,
                    fill: false,
                    borderDash: [5, 5],
                    tension: 0.2,
                    pointRadius: 4,
                    pointBackgroundColor: 'rgba(255,193,7,0.2)',
                    order:1

                }
            ]
        },
        options: {
            responsive: true,
            plugins: {
                legend: { display: true },
                title: {
                    display: true,
                    text: ''
                }
            }
        }
    });
    </script>

    <!-- 🔹 Footer -->
    <footer>
        © {% now "Y" %} GAC. Todos los derechos reservados. <br>
        Creado por Jaime M. Estrada Bernabé
    </footer>

    <!-- Scripts -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
